@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome to the Bartender Application</h2>
<ul>
    <li><a href="@Url.Action("ViewMenu", "Home")">View Drink Menu</a></li>
    <li><a href="@Url.Action("OrderQueue", "Home")">View Order Queue</a></li>
</ul>
